APP_PIN_HASH=
SESSION_SECRET=
JOB_TOKEN_SECRET=
PADDLEOCR_ACCESS_TOKEN=
BLOB_READ_WRITE_TOKEN=
CRON_SECRET=

MAX_PDF_SIZE_MB=0
MAX_PDF_PAGES=0
JOB_EXPIRATION_MINUTES=60
MAX_IMAGE_SIZE_MB=0
MAX_TOTAL_ASSET_MB=0
FINALIZE_IMAGE_PAGE_BATCH=5
FINALIZE_CHAPTER_BATCH=5
